<h1>Please enjoy this selection of products!</h1>

<% @products.each do |product| %>
  <p>id: <%= product.id%></p>
  <p>name: <%= product.name%></p>
  <p>price: <%= product.price%></p>
  <img src:"<%= product.images %>">
  <p>description: <%= product.description%></p>
  <p>supplier: <%= product.supplier.name%></p>
  <hr>
<% end %>