<h1>Welcome to this product's details page!</h1>

<p>id: <%= @product.id %></p>
<p>name: <%= @product.name %></p>
<p>price: <%= @product.price %></p>
<img src:"<%= @product.images %>">
<p>description: <%= @product.description %></p>
<p>supplier: <%= @product.supplier.name %></p>

<a href="/products/<%= @product.id %>" data-method="delete" rel="nofollow">Delete the item</a>
<hr>